<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Privacy Policy"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://hnr-cafe.netlify.com/privacy-policy"/>
    <meta property="og:site_name" content="hnr-cafe"/>
    <meta property="og:description" content="But love is blind and lovers cannot see. The pretty follies that themselves commit;"/>
    <meta name="twitter:card" content="summary"/>
    <title>Privacy Policy</title>
    <%- include("common/gtag") -%>
  </head>
  <body>
    <main>
      <h1>Privacy Policy</h1>
      <small>このポリシーは2019年03月20日に作成されました。</small>
      <p>hnr-cafe はユーザーの個人情報の保護に対して真摯に取り組み、尊重することを約束します。また、このプライバシーポリシーは、ユーザーが hnr-cafe 配下の全ページにアクセスした時に適用されます。</p>
      <h2>アクセス解析ツールについて</h2>
      <p>hnr-cafe では、アクセス解析に Google Analytics を利用しています。Google Analytics はトラフィックデータの収集に Cookie を用いています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能は Cookie を無効にすることで収集を拒否することが可能です。</p>
      <p>Google Analytics の規約については、<a href="https://www.google.com/analytics/terms/jp.html" target="_blank">こちら</a>を御覧ください。</p>
    </main>
  </body>
</html>
